[Unit]
Description=Change wallpaper using SWWW
After=awww.service

[Service]
ExecStart=/bin/bash %h/.dotfiles/bin/awww.sh

[Install]
WantedBy=default.target
