[Unit]
Description=Change wallpaper using AWWW
PartOf=graphical-session.target
After=awww.service

[Service]
ExecCondition=/bin/sh -c '[ -n "$WAYLAND_DISPLAY" ]'
ExecStart=/bin/bash %h/.dotfiles/bin/awww.sh

# This service is triggered by awww_random.timer
