[Unit]
Description=Start AWWW for Hyprland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Environment=RUST_BACKTRACE=1
ExecCondition=/bin/sh -c '[ -n "$WAYLAND_DISPLAY" ]'
ExecStart=/usr/bin/awww-daemon -f xrgb
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
