[Unit]
Description=Timer to change wallpapers every 15 minutes
PartOf=graphical-session.target

[Timer]
OnCalendar=*:0/15
Persistent=true
Unit=awww_random.service

[Install]
WantedBy=timers.target
