[Unit]
Description=Change wallpaper using AWWW
PartOf=graphical-session.target
After=awww.service

[Service]
ExecStart=/bin/bash %h/.dotfiles/bin/awww.sh

[Install]
WantedBy=graphical-session.target
