[Unit]
Description=picom compositor
PartOf=i3.target
Requires=graphical-session.target
After=dbus.service graphical-session.target xorg.target

[Service]
Type=forking
ExecStart=/usr/bin/picom -b

[Install]
WantedBy=i3.target
