[Unit]
Description=Timer to change wallpapers every hour

[Timer]
OnCalendar=*:0/15
Persistent=true
Unit=swww_random.service

[Install]
WantedBy=timers.target
