[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	branch = master
[submodule ".themes/Flat-Remix-GNOME-theme.git"]
	path = .themes/Flat-Remix-GNOME-theme.git
	url = https://github.com/daniruiz/Flat-Remix-GNOME-theme.git
	branch = master
[submodule ".icons/Flat-Remix.git"]
	path = .icons/Flat-Remix.git
	url = https://github.com/daniruiz/Flat-Remix
	branch = master
[submodule ".tmux/tmux-colors-solarized"]
	path = .tmux/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
	branch = master
[submodule "submodules/rsync-homedir-excludes"]
	path = submodules/rsync-homedir-excludes
	url = https://github.com/pad92/rsync-homedir-excludes.git
[submodule ".config/rofi/themes"]
	path = .config/rofi/themes
	url = https://github.com/DaveDavenport/rofi-themes.git
