.vim/.netrwhist
.vim/backup
.vim/swap
.fonts/.uuid
.vim/bundle/*
.vim/bundle/.vundle
!.vim/bundle/Vundle.vim/*
.tmux/plugins/*
!.tmux/plugins/tpm/*

.config/nitrogen/bg-saved.cfg
.config/gtk-3.0/bookmarks
.config/gtk-3.0/servers
