[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	branch = master
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/notify"]
	path = zsh/plugins/notify
	url = https://github.com/marzocchi/zsh-notify.git
[submodule ".config/i3blocks/i3blocks-contrib"]
	path = .config/i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule ".config/rofi/themes/gruvbox"]
	path = .config/rofi/themes/gruvbox
	url = https://github.com/bardisty/gruvbox-rofi
[submodule ".config/i3status/i3spotifystatus"]
	path = .config/i3status/i3spotifystatus
	url = https://github.com/rpieja/i3spotifystatus.git
