[core]
  editor = vim
  excludesfile = ~/.gitignore
  whitespace = space-before-tab,trailing-space

[apply]
  whitespace = fix

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green

[color "status"]
  added = green
  changed = cyan
  untracked = red

[merge]
  log = true

[push]
  default = simple
  autoSetupRemote = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[commit]
  gpgsign = true

[pull]
  rebase = false

[fetch]
  prune = true

[gui]
  pruneDuringFetch = true

[init]
  defaultBranch = main

[alias]
  # Génère un .gitignore depuis l'API gitignore.io (ex: git ignore node,python)
  ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"

[include]
  path = ~/.gitconfig.local
[safe]
	directory = /home/pascal/Documents/git/git.home.lan/pascal/llm_photos/data/sd-webui/stable-diffusion-webui
