body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: 'JetBrainsMono Nerd Font', 'Cascadia Code', 'Fira Code', 'Courier New', Courier, monospace;
    line-height: 1.6;
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}
a {
    color: #89b4fa;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}
a:hover {
    border-bottom: 1px solid #89b4fa;
    color: #fff;
}
h1, h2, h3, h4 {
    color: #89b4fa;
    border-bottom: 2px solid #45475a;
    padding-bottom: 0.3em;
    margin-top: 1.5em;
}

pre {
    background-color: #313244;
    color: #cdd6f4;
    padding: 16px;
    border: 1px solid #45475a;
    border-radius: 6px;
    overflow-x: auto;
    display: block;
    white-space: pre;
    margin: 20px 0;
    line-height: 1.45;
    font-size: 1rem;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 20px 0;
    background-color: #1e1e2e;
    border: 2px solid #45475a;
    border-radius: 10px;
    overflow: hidden;
}
th, td {
    border: 1px solid #45475a;
    padding: 12px;
    text-align: left;
}
th {
    background-color: #313244;
    color: #cdd6f4;
    font-weight: bold;
}
blockquote {
    border-left: 5px solid #89b4fa;
    padding: 10px 20px;
    background-color: #313244;
    color: #bac2de;
    font-style: italic;
    margin: 20px 0;
    border-radius: 0 10px 10px 0;
}
