/* # By knightfall01 on Github as a part of https://github.com/Knightfall01/Hyprland-config */

* {
  font-family: "JetBrainsMono Nerd Font";
  color: #ebdbb2;
}

window {
  border: 3px solid #83a598;
  background: #1d2021;
  border-radius: 15px;
}

#input {
  margin: 1.5em;
  margin-bottom: 0em;
  padding: 1em;
  border: none;
  font-weight: bold;
  background: #1d2021;
  color: #ebdbb2;
  border-radius: 15px;
}

#input:focus {
  border: 1px solid #83a598;
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 0.5em;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  margin-left: 0.5em;
  color: #ebdbb2;
}

#text:selected {
  color: #1d2021;
}

#entry {
  margin-top: 0.5em;
  border-radius: 15px;
}

#entry:selected {
  background: #83a598;
}